body {
	width: 80%;
	background-image: url("http://i.huffpost.com/gen/1352682/images/o-LOVE-PICKLES-facebook.jpg");
	font-family: Lucida, Helvetica, sans-serif;
	background-attachment: fixed;
}

div {
	background-color: white;
	opacity: .75;
}

div.navigation {
	float: left;
	list-style-type: none;
	width: 20%;
	border: 1px solid black;
	border-radius: 2px;
}

div.navigation > ul > li {
	list-style-type: none;
	line-height: 2em;
}

header {
	color: green;
	text-align: center;
}

div.header, div.articleName, div.articleBody {
	float: right;
	width: 73%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 2px;
}

div.foot {
	float: right;
	clear: both;
	width: 100%;
	background-color: white;
	opacity: .5;
	margin-top: 300px;
	height: 50px;
}

footer {
	clear:both;
	padding: 15px;
	text-align: center;
}