body {
	background-image: url("http://i.huffpost.com/gen/1352682/images/o-LOVE-PICKLES-facebook.jpg");
	font-family: Lucida, Helvetica, sans-serif;
	background-attachment: fixed;
	width: 80%;
}

div {
	background-color: white;
	opacity: .75;
}

div.navigation {
	float: left;
	list-style-type: none;
	width: 20%;
	border: 1px;
	border-radius: 2px;
}

div.navigation > ul > li {
	list-style-type: none;
	line-height: 2em;
}


.header{
	width:73px;
	padding: 10px;
	color: green;
	display: inline;
	text-align: center;	
}

.topBox{
	margin-bottom: 12px;


}

.bottomBox{

}

div.header, div.article1, div.topbox, div.bottombox {
	float: right;
	width: 73%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 2px;

}

div.foot {
	float: right;
    clear: both;
    width: 100%;
    background-color: white;
    opacity: .5;
    margin-top: 300px;
    height: 50px;
}

footer {
	padding: 15px;
    text-align: center;
}


