
body {
	width:80%;
	background-image: url("http://i.huffpost.com/gen/1352682/images/o-LOVE-PICKLES-facebook.jpg");
	font-family: Lucida, Helvetica, sans-serif;
	background-attachment: fixed;
}

div {
	background-color: white;
	opacity: .75;
	
}

div.navigation {
	float: left;
	list-style-type: none;
	width: 20%;
	border: 1px, solid black;
	border-radius: 2px;
}

div.navigation > ul > li {
	list-style-type: none;
	line-height: 2em;
}

.pickleman{

}

.header{
	float:right;  
	width:73%;
	color: green;
	text-align: center;	

}

.topBox{
	margin-bottom: 12px;
}

.bottomBox{
}

div.header, div.article1, div.topbox, div.bottombox{
	float: right;
	padding:10px;
	width: 73%;
	border-radius: 2px;
	margin-bottom: 15px;
}

